@charset "UTF-8";


/*----------------------------------------------------

1. Global Area 
2. Header Section
=====================================================================*/


/*=========
Font load
===========*/

@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,531;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,531;1,600;1,700;1,800;1,900&display=swap");

/*=========
Color Code
===========*/


/*global area*/


/*----------------------------------------------------*/


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    background: #f9f9f9;
    color: #2f3146;
    font-family: "Jost", sans-serif;
    -moz-osx-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

::-moz-selection {
    color: #fff;
    background-color: #6b59d3;
}

::selection {
    color: #fff;
    background-color: #6b59d3;
}

::-moz-selection {
    color: #fff;
    background-color: #6b59d3;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    -webkit-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

.form-control:focus,
button:visited,
button.active,
button:hover,
button:focus,
input:visited,
input.active,
input:hover,
input:focus,
textarea:hover,
textarea:focus,
a:hover,
a:focus,
a:visited,
a.active,
select,
select:hover,
select:focus,
select:visited {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: none;
    color: inherit;
}

.form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.relative-position {
    position: relative;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: "Jost", sans-serif;
}

.wrapper {
    margin: 0 auto;
}

.steps-area-fixed {
    position: fixed;
    width: 25% !important;
}

.steps-area-fixed .steps {
    top: 70px;
}



.steps-area {
    float: left;
    width: 30%;
    overflow: hidden;
    max-width: 500px;
}

.steps-area .steps {
    top: 30px;
    z-index: 9;
    left: 20px;
    position: absolute;
}

.steps-area .steps a {
    margin-bottom: 85px;
    position: relative;
}

.form-header {
    text-align: center;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: white;
    background-image: url("data:image/svg+xml;utf8,<svg fill='grey' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 99%;
    background-position-y: 16px;
}

.form-control:focus {
    border-color: #e9e0cf;
}

.form-control::-webkit-input-placeholder {
    color: #999;
}

.form-control::-moz-placeholder {
    color: #999;
}

.form-control:-ms-input-placeholder {
    color: #999;
}

.form-control:-moz-placeholder {
    color: #999;
}

select.form-control {
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    color: #999;
}

select.form-control option[value=""][disabled] {
    display: none;
}



.multisteps-form__panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    overflow: hidden;
    height: 0;
}

.multisteps-form__panel.js-active {
    opacity: 1;
    visibility: visible;
    overflow: visible;
    height: auto;
}

.form-inner-area input {
    width: 100%;
    height: 50px;
    padding-left: 10px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 2px solid #ededed;
    -webkit-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
}

.form-inner-area .input-group-prepend {
    height: 50px;
    border: 2px solid #ededed;
}

.form-inner-area .input-group-prepend .input-group-text {
    border-radius: 0;
    border: none;
    padding: .375rem 20px
}

span.input-group-text {
    height: 50px;
}

.form-inner-area input:focus {
    -webkit-box-shadow: 0px 5px 35px 0px rgba(107, 89, 211, 0.17);
    box-shadow: 0px 5px 35px 0px rgba(107, 89, 211, 0.17);
    border: 2px solid #6b59d3;
}

.form-inner-select select {
    border: 2px solid #ededed;
    height: 50px !important;
    width: 100%;
    padding: 0px 10px;
}

.page-tile h2 {
    font-size: 50px;
    font-weight: 700;
    padding: 85px 0px 20px 0px;
}

.top-info label,
.report-recomendation label {
    font-size: 15x;
    font-weight: 700;
    margin-bottom: .1rem;
}

.top-info p,
.report-recomendation p {
    color: #5f5f63;
    font-size: 20px;
}

.q-btn {
    height: 50px;
}

.btn-submit {
    background-color: #6c7c93;
    border-color: #6c7c93;
    color: #fff;
    padding-left: 25px;
    padding-right: 25px;
}

.btn-submit:hover {
    background-color: #fff;
    border-color: #6c7c93;
    color: #6c7c93;
}

.btn-randomize {
    border-color: #6c7c93;
    padding-left: 25px;
    padding-right: 25px;
    color: #6c7c93
}

.btn-randomize:hover {
    background-color: #6c7c93;
    border-color: #6c7c93;
    color: #fff;
}

@media screen and (max-width: 1440px) {
    .steps-area-fixed {
        position: fixed;
    }
    .steps-area-fixed+.multisteps-form__form {
        margin-left: 360px;
    }
    .steps {
        left: 250px;
    }
    .image-holder {
        width: 490px;
        overflow: hidden;
    }
    .image-holder img {
        -o-object-fit: cover;
        object-fit: cover;
        height: 100%;
        -o-object-position: 79%;
        object-position: 79%;
    }
}

@media screen and (max-width: 1199px) {
    .steps-area-fixed {
        position: static;
        width: 100% !important;
    }
    .steps-area .steps {
        left: 0;
        width: 100%;
        text-align: center;
    }
    .steps-area-fixed+.multisteps-form__form {
        margin-left: 0;
    }
    .steps-area,
    .multisteps-form__form {
        width: 100%;
        max-width: 100%;
    }
    .image-holder {
        width: 100%;
        height: 250px;
        display: block;
        overflow: hidden;
    }
    .image-holder img {
        height: auto;
        width: 100%;
    }
    .image-holder img.logo-sm {
        width: auto;
    }
}

@media screen and (max-width: 991px) {
    .pb-100,
    .pb-200 {
        padding-bottom: 30px;
    }
    .wizard {
        max-width: 100%;
    }
    .image-holder img {
        height: 521px;
        -o-object-fit: cover;
        object-fit: cover;
    }
    .image-holder img.logo-sm {
        height: auto;
        width: auto;
    }
    .steps {
        left: 0;
        right: 0;
        text-align: center;
    }
}
