p Hello ${name}
|
|
p Your refund application has been processed by our finance team and should be on the way to you.
p This concludes your refund journey.
|
|
p Thank you for your patience 
p The Refunds Team