p Hello ${name}
|
|
p We have recieved a request for a refund of fees of your course 
p Please would you confirm this by clicking this a(href = http://www.localhost:3000/refunds/${stunum}) link 
p If you did not request a refund for your course please contact us as soon as possible.
|
|
p Many Thanks 
p The Refunds Team